<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">

	<select id="list" resultType="Map" parameterType="Map">

		select
		b.TITLE, b.CONTENTS, b.WRITTENDATE, m.NAME
		from POST b, MEMBER_INFO m
		where b.SEQ_ID=m.SEQ_ID
		and b.SUBJECT_NUM='1'
		and FASHION_CATE_NO=#{FASION_CATE_NO}
	</select>

	

</mapper>